/* reset */
button,input,select,textarea {

    font-family: inherit; font-size: 100%; margin: 0; outline: none; box-sizing: border-box; border-radius: 0;

}


body {

    background: #dedede; font-family: Calibri, Arial, sans-serif; color: #333;

}

#app {

    position: relative;

}

.barTop {

    position: relative; padding: 10px; background: #ccc; box-shadow: 0 -10px 10px #C7C7C7 inset;

}

.barTop h1 {

    font-size: 20px; text-align: center;

}

.barTop .logoutBtn {

    position: absolute; right: 20px; top: 18px; font-size: 15px; padding: 8px; border: 1px solid #AFAFAF;
    background: #fff; border-radius: 2px; color: #5A5A5A; cursor: pointer;

}

.barTop .backBtn {

    position: absolute; left: 20px; top: 18px; font-size: 15px; padding: 8px; border: 1px solid #AFAFAF;
    background: #fff; border-radius: 2px; color: #5A5A5A; cursor: pointer;

}

.welcomeText {

    padding: 100px 20%;
    font-size: 50px; letter-spacing: 1px; color: #555; font-weight: bold;
    text-transform: uppercase; text-align: center;

}

.welcomeParagraf {

    font-size: 18px; color: #555; text-align: center;
    margin-top: 20px;

}

#submitForm {

    width: 75%; margin: 0 auto;

    label {

        text-transform: uppercase; color: #666; line-height: 1.6;

    }

    input {

        width: 100%; text-transform: none; padding: 10px; margin-bottom: 20px;
        border-radius: 4px; border: 1px solid #ccc;
    }

    button {

        background: #333; color: #fff; border-radius: 4px; padding: 15px; cursor: pointer;
        text-align: center; font-weight: bold; font-size: 18px; border: none; width: 100%;
        margin-top: 20px;

    }

}

.find,
.ping,
.setLocation {

    background: #333; color: #fff; border-radius: 4px; padding: 15px; cursor: pointer;
    text-align: center; font-weight: bold; font-size: 18px; border: none; width: 75%;
    margin: 20px auto 0 auto; display: block;

}

.find {

    margin-top: 50px;

}


#map {

    width: 100%; height: 400px; margin: 0 auto;

}

.kile {

    margin: 0 auto;

    > img { width: 100%; height: auto; vertical-align: bottom; }

}

.listHelp { width: 75%; margin: 30px auto 0 auto; padding: 0; }

.listHelp li {

    list-style-type: none; display: block;
    font-size: 15px; padding: 7px; margin: 0 auto 10px auto; background: #fff;
    border-radius: 2px; border:1px solid #ccc; text-align: center;

}
